{% extends 'base.html' %}
{% load static %}

{% block PageCss %}
<link href="{% static '/css/button.css' %}" rel="stylesheet">
<link href="{% static '/css/omake5.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
<div class="text-center">
    <div class="logo">
        <img src="{% static 'img/logo.svg' %}" alt="ロゴ" class="img-fluid" width="150" height="auto">
    </div>
    <div class="h1">海老漁師の挑戦</div>
</div>
{% endblock %}

{% block header %}
<!-- Header部分を空にして非表示にする -->
{% endblock %}


{% block content %}

<div id="gameArea">
    <img id="shrimp" src="{% static 'img/fall_ebi.svg' %}" alt="海老" />
</div>
<p>___スコア: <span id="score">0</span>___時間: <span id="timer">30</span>秒___</p>

<button id="startButton" class="original-long-btn btn-space">ゲーム開始</button>
<script src="{% static 'js/omake5.js' %}"></script>
<a href="{% url 'rakuraku_apps:omake' %}" class="original-long-btn-gray">戻る</a>
    {% include 'footer.html' %}

{% endblock %}