{% extends 'base.html' %}
{% load static %}

{% block PageCss %}
<link href="{% static '/css/button.css' %}" rel="stylesheet">
<link href="{% static '/css/omake3.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
<div class="text-center">
    <div class="logo">
        <img src="{% static 'img/logo.svg' %}" alt="ロゴ" class="img-fluid" width="150" height="auto">
    </div>
    <div class="h1">エビ解きの達人</div>
</div>
{% endblock %}

{% block header %}
<!-- Header部分を空にして非表示にする -->
{% endblock %}


{% block content %}
<div id="main">
    <div class="panel" id="js-show-panel">
    </div>
    <div id="timer" class="text-center mb-3">経過時間: 0分 0秒</div>
    <button type="submit" class="original-long-btn btn-space" id="original" style="border: none;">
        リセット
    </button>
    <a href="{% url 'rakuraku_apps:omake' %}" class="original-long-btn-gray my-3">戻る</a>
</div>

<script src="{% static 'js/omake3.js' %}"></script>
    {% include 'footer.html' %}

{% endblock %}
