{% extends 'base.html' %}

{% load static %}
{% block PageCss %}
<link href="{% static '/css/button.css' %}" rel="stylesheet">
<link href="{% static '/css/omake2.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}
<div class="text-center">
    <div class="logo">
        <img src="{% static 'img/logo.svg' %}" alt="ロゴ" class="img-fluid" width="150" height="auto">
    </div>
    <div class="h1">エビシューティングゲーム</div>
</div>
    {% endblock %}
    {% block content %}
    <div id="game-container">
        <img id="ebi" src="{% static 'img/fall_ebi.svg' %}" alt="エビ" />
        <div id="enemies"></div>
        <div id="bullets"></div>
        <div id="score">スコア: 0</div>
        <button id="restart-btn" style="display: none;">リスタート</button>
    </div>

    <script src="{% static 'js/omake2.js' %}"></script>
    <a href="{% url 'rakuraku_apps:omake' %}" class="original-long-btn-gray">戻る</a>

    {% include 'footer.html' %}

{% endblock %}

