{% extends 'base.html' %}
{% load static %}

{% block PageCss %}
<link href="{% static '/css/button.css' %}" rel="stylesheet">
<link href="{% static '/css/omake3.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
<div class="text-center">
    <div class="logo">
        <img src="{% static 'img/logo.svg' %}" alt="ロゴ" class="img-fluid" width="150" height="auto">
    </div>
    <div class="h1">エビパズル</div>
</div>
{% endblock %}

{% block header %}
<!-- Header部分を空にして非表示にする -->
{% endblock %}


{% block content %}
<div id="main">
    <div class="panel" id="js-show-panel">
    </div>
    <div id="timer" class="text-center mb-3">経過時間: 0分 0秒</div>
    <button type="submit" class="original-long-btn mt-3" id="original" style="border: none;">
        リセット
    </button>
</div>

<script src="{% static 'js/omake3.js' %}"></script>
<a href="{% url 'rakuraku_apps:omake' %}" style="display: block; text-align: center; text-decoration: none; width: 100%; margin: auto; padding: 16px 8px; font-weight: bold; border-radius: 0.3rem; background-color: rgba(112, 123, 141, 0.8); color: #fff;">戻る</a>
    {% include 'footer.html' %}

{% endblock %}