{% load static %}

{% block PageCss %}

<link href="{% static '/css/button.css' %}" rel="stylesheet"> <link href="{% static '/css/omake1.css' %}" rel="stylesheet"> {% endblock %}
{% block PageJs %}

<script src="https://cdn.jsdelivr.net/npm/matter-js@0.19.0/build/matter.min.js"></script> <script type="text/javascript" src="{% static 'js/omake1.js' %}"></script>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="main"> <div class="container"> <div class="message"></div> </div> <div class="score-container"> <p class="score"></p> </div> </div>
{% include 'footer.html' %}

{% else %}

<div class="text-center mt-5"> <p>データ入力機能を使用するにはログインが必要です。</p> <a href="{% url 'rakuraku_apps:login' %}" class="btn btn-primary">ログイン</a> </div> {% endif %} {% endblock %}