{% extends 'base.html' %}

{% load static %}
{% block PageCss %}
<link href="{% static '/css/button.css' %}" rel="stylesheet">
<link href="{% static '/css/omake2.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}
<div class="text-center">
    <div class="h1">エビ撃ち大作戦</div>
</div>
    {% endblock %}
    {% block content %}
    {% if user.is_authenticated %}

    <div id="game-container">
        <img id="ebi" src="{% static 'img/fall_ebi.svg' %}" alt="エビ" />
        <div id="enemies"></div>
        <div id="bullets"></div>
        <div id="score">スコア: 0</div>
        <button id="restart-btn" style="display: none;">リスタート</button>
    </div>

    <script src="{% static 'js/omake2.js' %}"></script>
    <a href="{% url 'rakuraku_apps:omake' %}" class="original-long-btn-gray my-3">戻る</a>

    {% include 'footer.html' %}
    {% else %} 
    <div class="d-grid gap-2"> 
        <a href="{% url 'rakuraku_apps:login' %}" class="original-btn">ログイン</a> 
    </div> 
{% endif %} 
{% endblock %}

