{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="{% static 'css/bootstrap/bootstrap.css' %}" rel="stylesheet">
  <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.bundle.js' %}"></script>
  <script src="https://kit.fontawesome.com/7c3373f172.js" crossorigin="anonymous"></script>
  
  <link href="{% static '/css/common.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" >
</head>

  <title>RakuRaku</title>
</head>

<body>
  {% block header %}
  {% include 'header.html' %}
  {% if success_message %}
  <div class="alert alert-success text-center" role="alert">
      <span style="color: black;">{{ success_message }}</span>
  </div>
  {% endif %}
  {% endblock %}

  <div id="container" class="container mx-auto text-center">
    {% block title %}
    {% endblock %}
    {% block content %}
    {% endblock %}
  </div>

  {% block extra_js %}
  {% endblock %}
</body>

</html>
