<!-- header.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="title"> 
            <a href="{% url 'rakuraku_apps:home' %}"> 
                <img src="{% static 'img/header-logo.svg' %}" alt="ホームに戻る" height="60">
            </a>
        </div>
        <div class="logout">
            <h3>
                {{ user.account_id }} 
                さん
            </h3>
            <a href="{% url 'rakuraku_apps:logout' %}" class="logout_btn">
                ログアウト
            </a>
        </div> 
    </div>
</body>
</html>
