{% extends 'base.html' %}

{% load static %}

{% block PageCss %}
<link href="{% static '/css/button.css' %}" rel="stylesheet">
<link href="{% static '/css/hover_text.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
{% if user.is_authenticated %}
    
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="h2 mb-4">
        ようこそ {{ user.account_id }} 
        <a>
            さん
        </a>
    </div> 
    <div class="list-group">
        <a href="{% url 'rakuraku_apps:everyday_or_interval' %}" class="original-big-btn mb-4">データ入力</a>
    
        <a href="{% url 'rakuraku_apps:table_or_graph' %}" class="original-big-btn mb-4">過去のデータ</a>
    
        <a href="{% url 'rakuraku_apps:manage' %}" class="original-big-btn mb-4">管理者画面</a>
    </div>
    
    <div class="function" style="margin-top: 16px;">
        <div class="hover-box">
            <a href="{% url 'rakuraku_apps:function' %}" class="function-btn">
                <img src="{% static 'img/fall_ebi.svg' %}" alt="機能紹介">
                <span class="hover-text">機能紹介</span>
            </a>
        </div>
        <div class="hover-box" style="margin-left: 24px;">
            <a href="{% url 'rakuraku_apps:omake' %}" class="function-btn">
                <img src="{% static 'img/fall_ebi.svg' %}" alt="機能紹介">
                <span class="hover-text">おまけ🦐</span>
            </a>
        </div>
    </div>

{% else %} 
    <div class="d-grid gap-2"> 
        <a href="{% url 'rakuraku_apps:login' %}" class="original-btn">ログイン</a> 
    </div> 
{% endif %} 
{% endblock %}