{% extends 'base.html' %}
{% load static %}

{% block title %}
<div class="text-center">
    <div class="logo mb-5">
    <img src="{% static 'img/header-logo.png' %}" alt="ロゴ" class="img-fluid mb-3" width="300" height="auto">
    </div>
    <div class="h1">ログイン画面</div>
</div>
{% endblock %}

{% block header %}
<!-- Header部分を空にして非表示にする -->
{% endblock %}

{% block content %}
    <form method="post"> 
    {% csrf_token %} 
    {{ form.non_field_errors }} 
        <div class="mb-3"> 
            <label for="id_username" class="form-label">ユーザーID:</label> 
            <input type="text" name="username" class="form-control" required id="id_username"> 
        </div> 
        <div class="mb-3"> 
            <label for="id_password" class="form-label">pass:</label> 
            <input type="password" name="password" class="form-control" required id="id_password"> 
        </div> 
        <div class="d-grid gap-2"> 
            <button type="submit" class="btn btn-primary">ログイン</button> 
        </div> 
    </form> 
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/common.js' %}"></script>
{% endblock %}
