{% extends 'base.html' %}

{% load static %}

{% block PageCss %}
<link href="{% static '/css/button.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
<h1 class="card-title text-center mt-3" style="font-size: 32px; margin-bottom: 16px;">エビマスターへの道 </h1> 
<h2 class="text-center mb-4">〜Road to Ebi Master〜</h2>
<p>※Calatのメンバーが最後に作った趣味開発集です。</p>
<p>本ハッカソンとは何ら関係はございませんが、楽しんでいただけると幸いです。</p>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container"> 

<div class="list-group">
        <a href="{% url 'rakuraku_apps:omake1' %}" class="original-big-btn mt-4 mb-4">            
            <i class="fas fa-torii-gate fa-lg me-3"></i>運勢エビくじ</a>
    
        <a href="{% url 'rakuraku_apps:omake2' %}" class="original-big-btn mb-4">            
            <i class="fas fa-meteor fa-lg me-3"></i>エビ撃ち大作戦</a>

        <a href="{% url 'rakuraku_apps:omake3' %}" class="original-big-btn mb-4">            
            <i class="fas fa-puzzle-piece fa-lg me-3"></i>エビ解きの達人</a>

        <a href="{% url 'rakuraku_apps:omake4' %}" class="original-big-btn mb-4">
            <i class="fas fa-fire-burner fa-lg me-3"></i>エビ焼き道場</a>
    
        <a href="{% url 'rakuraku_apps:omake5' %}" class="original-big-btn mb-4">
            <i class="fas fa-shrimp fa-lg me-3"></i>海老漁師の挑戦</a>
    </div>
</div>

    {% include 'footer.html' %}


{% else %} 
    <div class="d-grid gap-2"> 
        <a href="{% url 'rakuraku_apps:login' %}" class="original-btn">ログイン</a> 
    </div> 
{% endif %} 
{% endblock %}