{% extends 'base.html' %}

{% load static %}

{% block PageCss %}
<link href="{% static '/css/button.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
{% if user.is_authenticated %}
    
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container"> 

<div class="list-group">
        <a href="{% url 'rakuraku_apps:omake1' %}" class="original-big-btn mt-4 mb-4">おみくじ</a>
    
        <a href="{% url 'rakuraku_apps:omake2' %}" class="original-big-btn mb-4">エビシューティングゲーム</a>
    
        <a href="{% url 'rakuraku_apps:omake3' %}" class="original-big-btn mb-4">エビパズル</a>

        <a href="{% url 'rakuraku_apps:omake4' %}" class="original-big-btn mb-4">おまけ4</a>
    
        <a href="{% url 'rakuraku_apps:omake5' %}" class="original-big-btn mb-4">エビ★捕獲</a>
    </div>
</div>

    {% include 'footer.html' %}


{% else %} 
    <div class="d-grid gap-2"> 
        <a href="{% url 'rakuraku_apps:login' %}" class="original-btn">ログイン</a> 
    </div> 
{% endif %} 
{% endblock %}