{% extends 'base.html' %}
{% load static %}

{% block PageCss %}
<link href="{% static '/css/button.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
<h1 class="card-title text-center mt-3" style="font-size: 32px; margin-bottom: 16px;">管理者画面</h1>
<h2 class="text-center mb-4">ユーザー新規登録</h2>
{% endblock %}

{% block content %} 
{% if user.is_authenticated %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<form method="POST">
				{% csrf_token %} 
				{{ form.non_field_errors }} 
					{% for field in form %} 
						<div class="mb-4">
							{{ field.label_tag }}
							<br>{{ field }} 
							{% if field.errors %} 
								<br>{{ field.errors }} 
							{% endif %} 
						</div>
					{% endfor %} 
				<div class="d-grid gap-2">
                    <button type="submit" class="original-long-btn btn-space">登録</button>
					<a href="{% url 'rakuraku_apps:manage' %}" class="original-long-btn-gray">戻る</a>
				</div>
			</form>
		</div>
	</div>
</div>

{% include 'footer.html' %} 
{% else %} 
    <div class="d-grid gap-2"> 
        <a href="{% url 'rakuraku_apps:login' %}" class="original-btn">ログイン</a> 
    </div> 
{% endif %} 
{% endblock %}