{% extends 'base.html' %}

{% block content %}

<style> .card { border: none; } .form-control { height: 50px; width: 100%; } </style> <div class="container"> <div class="h1 text-center mb-4">新規登録</div> <div class="row justify-content-center"> <div class="col-md-8"> <form method="POST" class="card p-4"> {% csrf_token %} {{ form.non_field_errors }} {% for field in form %} <div class="mb-4"> {{ field.label_tag }}<br> {{ field }} {% if field.errors %} <br> {{ field.errors }} {% endif %} </div> {% endfor %} <div class="text-center"> <a href="{% url 'rakuraku_apps:manage' %}" class="btn btn-secondary">戻る</a> <button type="submit" class="btn btn-primary">登録</button> </div> </form> </div> </div> </div> {% endblock %}