{% extends 'base.html' %}
{% load static %}

{% block PageCss %}
<link href="{% static '/css/button.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
<h1 class="card-title text-center mt-3" style="font-size: 32px; margin-bottom: 16px;">データ入力</h1> 
<h2 class="text-center mb-4">日常測定 Step3</h2>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="container"> 
    <div class="row justify-content-center"> 
        <div class="col-md-6"> 
                <div class="card-body"> 
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="notes" class="form-label">備考</label>
                            <textarea name="notes" class="form-control" rows="4">{{ form_data.notes }}</textarea>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="original-long-btn" style="border: none;">次へ</button>
                            <a href="{% url 'rakuraku_apps:everyday_second_input' %}" style="display: block; text-align: center; text-decoration: none; width: 100%; margin: auto; padding: 16px 8px; font-weight: bold; border-radius: 0.3rem; background-color: rgba(112, 123, 141, 0.8); color: #fff;">戻る</a>
                        </div>
                    </form>
                </div>  
        </div> 
    </div> 
</div> 

{% include 'footer.html' %}

{% else %} 
<div class="text-center mt-5"> 
    <p>データ入力機能を使用するにはログインが必要です。</p> 
    <a href="{% url 'rakuraku_apps:login' %}" class="btn btn-primary">ログイン</a> 
</div> 
{% endif %} 
{% endblock %}
