<!DOCTYPE html>
<html>
<head>
    <title>水質データ入力 - 確認</title>
    <style>
        .alert {
            color: red;
        }
    </style>
</head>
<body>
    <h1>水質データ入力 - 確認</h1>
    <div>
        <p>計測日: {{ form_data.date }}</p>

        <p>水槽: {{ form_data.tank }}</p>

        <p>室温: {{ form_data.room_temperature }}</p>

        <p>水温: {{ form_data.water_temperature }}</p>
        {% if 'water_temperature' in alerts %}
        <p class="alert">{{ alerts.water_temperature }}</p>
        {% endif %}

        <p>pH: {{ form_data.pH }}</p>
        {% if 'pH' in alerts %}
        <p class="alert">{{ alerts.pH }}</p>
        {% endif %}

        <p>DO: {{ form_data.DO }}</p>
        {% if 'DO' in alerts %}
        <p class="alert">{{ alerts.DO }}</p>
        {% endif %}

        <p>塩分濃度: {{ form_data.salinity }}</p>
        {% if 'salinity' in alerts %}
        <p class="alert">{{ alerts.salinity }}</p>
        {% endif %}

        <p>備考: {{ form_data.notes }}</p>
        
    </div>
    <form method="post">
        {% csrf_token %}
        <button type="submit">保存</button>
    </form>
    <a href="{% url 'rakuraku_apps:everyday_edit' %}">編集</a>
    <a href="{% url 'rakuraku_apps:everyday_comment' %}" class="btn btn-secondary">戻る</a>
    <a href="{% url 'rakuraku_apps:home' %}" class="btn btn-secondary">HOME戻る</a>
</body>
</html>