{% extends 'base.html' %}
{% load static %}

{% block PageCss %}
<link href="{% static '/css/button.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
<h1 class="card-title text-center mt-3" style="font-size: 32px; margin-bottom: 16px;">管理者画面</h1>
<h2 class="text-center mb-4">ユーザー</h2>
{% endblock %}

{% block content %}

<div class="container">
  <!-- <h2 class="text-center mb-4">ユーザー</h2> -->
  <div class="row justify-content-center">
    <div class="col-md-6">
      <ul class="list-group mb-4">{% for user in users %} 
        <li class="list-group-item">{{ user.account_id }}</li>{% endfor %}
      </ul>
      <div class="d-grid gap-2">
        <a href="{% url 'rakuraku_apps:signup' %}" class="original-long-btn">新規登録</a>
        <a href="{% url 'rakuraku_apps:manage' %}" class="original-long-btn-gray">戻る</a>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}

{% endblock %}