{% extends 'base.html' %}

{% block content %}
<h1>管理者画面</h1>

<h2>水質</h2>
<form method="post" class="container">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group row">
        <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label">{{ field.label }}:</label>
        <div class="col-md-8">
            {{ field }}
        </div>
    </div>
    {% endfor %}
    <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary">保存</button></div>
        <div class="text-center mt-3">
        <a href="{% url 'rakuraku_apps:manage' %}" class="btn btn-secondary">戻る</a>
    </div>
</form>

{% include 'footer.html' %}

{% endblock %}