{% extends 'base.html' %}
{% load static %}

{% block PageCss %}
<link href="{% static '/css/button.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
{% if user.is_authenticated %}

<div class="container"> 
    <h1 class="card-title text-center mt-3 mb-4" style="font-size: 32px; margin-bottom: 16px;">データ入力</h1>
    <div class="row justify-content-center"> 
        <div class="col-md-6"> 
            <div class="card-body"> 
                <div class="d-grid gap-2"> 
                    <a href="{% url 'rakuraku_apps:everyday_first_input' %}" class="original-big-btn mb-4">日常測定<br>（水温・ph・DO・塩分濃度）</a> 
                    <a href="{% url 'rakuraku_apps:interval_first_input' %}" class="original-big-btn mb-4">定期測定<br>（NH4・NO2・NO3・Ca・Al・Mg）</a> 
                </div> 
            </div> 
        </div> 
    </div> 
</div> 

{% include 'footer.html' %}

{% else %} 
<div class="text-center mt-5"> 
    <p>データ入力機能を使用するにはログインが必要です。</p> 
    <a href="{% url 'rakuraku_apps:login' %}" class="btn btn-primary">ログイン</a> 
</div> 
{% endif %} 
{% endblock %}
