{% extends 'base.html' %}
{% load static %}

{% block PageCss %}
<link href="{% static '/css/button.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
<h1 class="card-title text-center mt-3" style="font-size: 32px; margin-bottom: 16px;">データ入力</h1>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="container"> 
    <div class="row justify-content-center"> 
        <div class="col-md-6"> 
            <div class="card-body"> 
                    <!-- <h1 class="card-title text-center mb-4">データ入力</h1>  -->
                <div class="d-grid gap-2"> 
                    <a href="{% url 'rakuraku_apps:everyday_first_input' %}" class="original-big-btn">日常測定</a> 
                    <a href="{% url 'rakuraku_apps:interval_first_input' %}" class="original-big-btn">定期測定</a> 
                </div> 
            </div> 
        </div> 
    </div> 
</div> 

{% include 'footer.html' %}

{% else %} 
<div class="text-center mt-5"> 
    <p>データ入力機能を使用するにはログインが必要です。</p> 
    <a href="{% url 'rakuraku_apps:login' %}" class="btn btn-primary">ログイン</a> 
</div> 
{% endif %} 
{% endblock %}
