.original-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 120px;
    height: 44px;
    margin: auto;
    padding: 10px;
    font-weight: bold;
    border-radius: 0.3rem;
    background-color: rgba(47, 93, 163, 0.8);
    color: #fff;
    position: relative;
    border: none;
}

.original-btn i {
    margin-right: 8px;
}

.original-btn i {
    margin-right: 8px;
}

.footer-btn-txt {
    font-size: 16px;
}

.original-big-btn {
    font-size: 16px;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 90px;
    margin: auto;
    padding: 32px 8px;
    font-weight: bold;
    border-radius: 0.3rem;
    background-color: rgba(47, 93, 163, 0.8);
    color: #fff;
    border: none;
}

.original-long-btn {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin: auto;
    padding: 16px 8px;
    font-weight: bold;
    border-radius: 0.3rem;
    background-color: rgba(47, 93, 163, 0.8);
    color: #fff;
    border: none;
}

.original-long-btn-gray {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin: auto;
    padding: 16px 8px;
    font-weight: bold;
    border-radius: 0.3rem;
    background-color: rgba(112, 123, 141, 0.8);
    color: #fff;
    border: none;
}

.original-long-btn-green {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin: auto;
    padding: 16px 8px;
    font-weight: bold;
    border-radius: 0.3rem;
    background-color: rgba(38, 154, 153, 0.8);
    color: #fff;
    border: none;
}

.original-long-btn-excel {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin: auto;
    padding: 16px 8px;
    font-weight: bold;
    border-radius: 0.3rem;
    background-color: rgba(11, 147, 74, 0.8);
    color: #fff;
    border: none;
}