html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* ビューポート全体をカバー */
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 画面全体を埋める */
}

.container {
  flex: 1; /* コンテンツ部分が残りのスペースを取る */
  display: flex;
  flex-direction: column;
  justify-content: center; /* コンテンツを中央に配置（縦方向） */
}



.user_bottom {
  vertical-align: bottom;
}

/*footer*/
.footline {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
  padding: 5px 10px;
  width: auto;
}

/* 管理者画面のタイトルスタイル */
.card-title {
  font-size: 2.5rem;
}

/* 管理者画面のボタンスタイル */
.btn i {
  vertical-align: middle;
}

/*ヘッダー*/
.header {
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center; 
  background-color: rgba(86, 178, 200, 0.8);
}

.title {
  text-align: left;
  margin-left: 8px;
}

.logout {
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 8px;
}

.logout h3 {
  margin: 0;
  padding: 0;
}

.logout a {
  font-size: 1rem;
}

.logout_btn {
  color: #2F5DA3;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
}

.footer img {
  display: block;
  margin: 0 auto;
}

/* .original-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  width: 120px;
  height: 44px;
  margin: auto;
  padding: 10px;
  font-weight: bold;
  border-radius: 0.3rem;
  background-color: rgba(47, 93, 163, 0.8);
  color: #fff;
  position: relative;
} */

/* .original-btn i {
  margin-right: 8px;
}

.original-btn i {
  margin-right: 8px;
}

.footer-btn-txt {
  font-size: 16px;
} */

/* .original-long-btn {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  margin: auto;
  padding: 16px 8px;
  font-weight: bold;
  border-radius: 0.3rem;
  background-color: rgba(47, 93, 163, 0.8);
  color: #fff;
}

.original-long-btn-gray {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  margin: auto;
  padding: 16px 8px;
  font-weight: bold;
  border-radius: 0.3rem;
  background-color: rgba(112, 123, 141, 0.8);
  color: #fff;
} */

/* アラートメッセージのスタイル */
.alert {
  font-size: 0.8rem; /* アラートメッセージのフォントサイズ */
  color: red; /* アラートメッセージの文字色 */
}

.highlight-background {
  background-color: #ffcccc; /* アラートがある場合の背景色 */
  padding: 3px;
  border-radius: 3px;
}
