@charset "UTF-8";

html, body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/*footer*/
.footline {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
    padding: 5px 10px; /* パディングを減らしてみる */
    width: auto;
  }


/* 管理者画面のタイトルスタイル */
.card-title {
  font-size: 2.5rem;
}

/* 管理者画面のボタンスタイル */
.btn i {
  vertical-align: middle;
}
  /*自作ヘッダー*/
.header {
  display: flex;  /* Flexboxを使用 */
  height: 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center; 
  background-color: rgba(86, 178, 200, 0.8);
}

.title {
  text-align: left;
  margin-left: 8px;
}

.logout {
  text-align: right;
  white-space: nowrap; /* テキストが折り返されないようにする */
  overflow: hidden; /* オーバーフローしたテキストを隠す */
  margin-right: 8px;
}

.logout h3 {
  margin: 0; /* マージンをリセット */
  padding: 0; /* パディングをリセット */
}
.logout a {
  font-size: 1rem;
}

/*自作フッター*/
.footer {
  position: fixed;  /* 画面に固定 */
  bottom: 0;        /* 画面の下端に配置 */
  left: 50%;        /* 画面の左右中央に配置 */
  transform: translateX(-50%);  /* 要素の中央を基準に位置を調整 */
  text-align: center;  /* 中央に配置 */
  width: 100%;     /* フッター全体をカバーする幅を設定（必要に応じて調整） */
  z-index: 1000;   /* 他の要素の上に表示されるように */
  padding: 10px 46px;
}

.footer img {
  display: block;
  margin: 0 auto;  /* 画像自体も中央に配置 */
}

.original_btn {
	display: block;
	text-align: center;
	/* vertical-align: middle; */
	text-decoration: none;
	width: 200px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border-radius: 0.3rem;
	border-bottom: 7px solid #1B3C6F;
  background-color: rgba(47, 93, 163, 0.8);
	color: #fff;
}
.original_btn:hover {
	margin-top: 6px;
	border-bottom: 1px solid #1B3C6F;
	color: #fff;
}
