.hover-box {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #333;
}

.hover-text {
    visibility: hidden; /* 最初は非表示 */
    position: absolute;
    bottom: 100%; /* 要素の上に表示 */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(112, 123, 141, 1);
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 14px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.hover-box:hover .hover-text {
    visibility: visible; /* ホバー時に表示 */
    opacity: 1;
}