{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
<div class="container">
    <h2>水質データ表示</h2>
    <form method="GET">
        <div class="form-group">
            <label for="start_date">開始日:</label>
            <input type="date" class="form-control" id="start_date" name="start_date" value="{{ request.GET.start_date }}">
        </div>
        <div class="form-group">
            <label for="end_date">終了日:</label>
            <input type="date" class="form-control" id="end_date" name="end_date" value="{{ request.GET.end_date }}">
        </div>
        <div class="form-group">
            <label for="shrimp">系統:</label>
            <select class="form-control" id="shrimp" name="shrimp">
                <option value="">全て</option>
                {% for shrimp in shrimps %}
                <option value="{{ shrimp.id }}" {% if shrimp.id|stringformat:"i" == request.GET.shrimp %}selected{% endif %}>{{ shrimp.family }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="item">項目:</label>
            <select class="form-control" id="item" name="item">
                <option value="">全て</option>
                <option value="water_temperature" {% if request.GET.item == "water_temperature" %}selected{% endif %}>水温</option>
                <option value="pH" {% if request.GET.item == "pH" %}selected{% endif %}>pH</option>
                <option value="DO" {% if request.GET.item == "DO" %}selected{% endif %}>DO</option>
                <option value="salinity" {% if request.GET.item == "salinity" %}selected{% endif %}>塩分濃度</option>
                <option value="NH4" {% if request.GET.item == "NH4" %}selected{% endif %}>NH4</option>
                <option value="NO2" {% if request.GET.item == "NO2" %}selected{% endif %}>NO2</option>
                <option value="NO3" {% if request.GET.item == "NO3" %}selected{% endif %}>NO3</option>
                <option value="Ca" {% if request.GET.item == "Ca" %}selected{% endif %}>Ca</option>
                <option value="Al" {% if request.GET.item == "Al" %}selected{% endif %}>Al</option>
                <option value="Mg" {% if request.GET.item == "Mg" %}selected{% endif %}>Mg</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">表示</button>
    </form>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>日付</th>
                <th>水槽</th>
                {% if not request.GET.item %}
                <th>水温</th>
                <th>pH</th>
                <th>DO</th>
                <th>塩分濃度</th>
                <th>NH4</th>
                <th>NO2</th>
                <th>NO3</th>
                <th>Ca</th>
                <th>Al</th>
                <th>Mg</th>
                {% else %}
                <th>{{ request.GET.item }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for data in water_quality_data %}
            <tr>
                <td>{{ data.date }}</td>
                <td>{{ data.tank__name }}</td>
                {% if not request.GET.item %}
                <td>{{ data.water_temperature }}</td>
                <td>{{ data.pH }}</td>
                <td>{{ data.DO }}</td>
                <td>{{ data.salinity }}</td>
                <td>{{ data.NH4 }}</td>
                <td>{{ data.NO2 }}</td>
                <td>{{ data.NO3 }}</td>
                <td>{{ data.Ca }}</td>
                <td>{{ data.Al }}</td>
                <td>{{ data.Mg }}</td>
                {% else %}
                <td>{{ data|get_item:request.GET.item }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<a href="{% url 'rakuraku_apps:table_or_graph' %}" class="btn btn-link">戻る</a> 

{% endblock %}