<!DOCTYPE html>
<html>
<head>
    <title>水質データ入力 - 確認</title>
    <style>
        .alert {
            color: red;
        }
    </style>
</head>
<body>
    <h1>水質データ入力 - 確認</h1>
    <div>
        <p>計測日: {{ form_data.date }}</p>

        <p>水槽: {{ form_data.tank }}</p>

        <p>室温: {{ form_data.room_temperature }}</p>

        <p>NH4: {{ form_data.NH4 }}</p>
        {% if 'NH4' in alerts %}
        <p class="alert">{{ alerts.NH4 }}</p>
        {% endif %}

        <p>NO2: {{ form_data.NO2 }}</p>
        {% if 'NO2' in alerts %}
        <p class="alert">{{ alerts.NO2 }}</p>
        {% endif %}

        <p>NO3: {{ form_data.NO3 }}</p>
        {% if 'NO3' in alerts %}
        <p class="alert">{{ alerts.NO3 }}</p>
        {% endif %}

        <p>Ca: {{ form_data.Ca }}</p>
        {% if 'Ca' in alerts %}
        <p class="alert">{{ alerts.Ca }}</p>
        {% endif %}

        <p>Al: {{ form_data.Al }}</p>
        {% if 'Al' in alerts %}
        <p class="alert">{{ alerts.Al }}</p>
        {% endif %}

        <p>Mg: {{ form_data.Mg }}</p>
        {% if 'Mg' in alerts %}
        <p class="alert">{{ alerts.Mg }}</p>
        {% endif %}

        <p>備考: {{ form_data.notes }}</p>
        
    </div>
    <form method="post">
        {% csrf_token %}
        <button type="submit">保存</button>
    </form>
    <a href="{% url 'rakuraku_apps:interval_edit' %}">編集</a>
    <a href="{% url 'rakuraku_apps:interval_comment' %}" class="btn btn-secondary">戻る</a>
    <a href="{% url 'rakuraku_apps:home' %}" class="btn btn-secondary">HOME戻る</a>
</body>
</html>

{% comment %} 定期測定確認
<div class="text-center mt-3"> 
    <a href="{% url 'rakuraku_apps:interval_or_interval' %}" class="btn btn-link">登録</a> 
</div> 
<div class="text-center mt-3"> 
    <a href="{% url 'rakuraku_apps:interval_comment' %}" class="btn btn-link">戻る</a> 
</div> 
<div class="text-center mt-3"> 
    <a href="{% url 'rakuraku_apps:interval_edit' %}" class="btn btn-link">編集</a> 
</div> 

<div class="text-center mt-3"> 
    <a href="{% url 'rakuraku_apps:home' %}" class="btn btn-link">HOMEに戻る</a> 
</div>  {% endcomment %}