{% extends 'base.html' %}
{% load static %}

{% block PageCss %}
<link href="{% static '/css/button.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
<h1 class="card-title text-center mt-3">水質データ入力 - Step2</h1> 
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="container"> 
    <div class="row justify-content-center"> 
        <div class="col-md-6"> 
                <div class="card-body"> 
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="NH4" class="form-label">NH4</label>
                            <input type="number" name="NH4" class="form-control" min="0" max="14" step="0.1" value="{{ form_data.NH4 }}">
                        </div>
                        <div class="mb-3">
                            <label for="NO2" class="form-label">NO2</label>
                            <input type="number" name="NO2" class="form-control" min="0" max="100" step="0.1" value="{{ form_data.NO2 }}">
                        </div>
                        <div class="mb-3">
                            <label for="NO3" class="form-label">NO3</label>
                            <input type="number" name="NO3" class="form-control" min="0" max="100" step="0.1" value="{{ form_data.NO3 }}">
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="original-long-btn">次へ</button>
                        </div>
                    </form>
                </div> 
        </div> 
    </div> 
</div> 


{% else %} 
<div class="text-center mt-5"> 
    <p>データ入力機能を使用するにはログインが必要です。</p> 
    <a href="{% url 'rakuraku_apps:login' %}" class="btn btn-primary">ログイン</a> 
</div> 
{% endif %} 
{% endblock %}
