{% extends 'base.html' %}
{% load static %}

{% block PageCss %}
<link href="{% static '/css/button.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
<h1 class="card-title text-center mt-3">水質データ入力 - Step3</h1> 
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="container"> 
    <div class="row justify-content-center"> 
        <div class="col-md-6"> 
                <div class="card-body"> 
                    
                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="Ca" class="form-label">Ca</label>
                            <input type="number" name="Ca" class="form-control" min="0" max="500" step="1" value="{{ form_data.Ca }}">
                        </div>
                        <div class="mb-3">
                            <label for="Al" class="form-label">Al</label>
                            <input type="number" name="Al" class="form-control" min="0" max="300" step="1" value="{{ form_data.Al }}">
                        </div>
                        <div class="mb-3">
                            <label for="Mg" class="form-label">Mg</label>
                            <input type="number" name="Mg" class="form-control" min="0" max="1000" step="1" value="{{ form_data.Mg }}">
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="original-long-btn">次へ</button>
                            <a href="{% url 'rakuraku_apps:interval_second_input' %}" class="original-long-btn-gray">戻る</a>
                        </div>
                    </form>
                </div> 
        </div> 
    </div> 
</div> 


{% else %} 
<div class="text-center mt-5"> 
    <p>データ入力機能を使用するにはログインが必要です。</p> 
    <a href="{% url 'rakuraku_apps:login' %}" class="btn btn-primary">ログイン</a> 
</div> 
{% endif %} 
{% endblock %}

